---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/blogpost/BlogPost.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const tags = ["astro", "successes", "community", "blogging", "setbacks", "learning in public"];

  return tags.map((tag) => ({
    params: { tag: tag },
    props: { posts: allPosts },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
// @ts-ignore
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<BaseLayout title={tag ? tag : "title"}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
        // @ts-ignore
        filteredPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)
    }
  </ul>
</BaseLayout>