---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="China">
	<Navigation/>
    <Container>
		<h1>China</h1>
	</Container>
</Layout>