---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<BaseLayout title="China">
	<h1>China</h1>
</BaseLayout>