---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/blogpost/BlogPost.astro";
import TopPanel from "../components/topPanel/TopPanel";

import { getCollection } from "astro:content";
import { getUniqueTags } from "../utils/utils";

let blogPosts;

try {
  blogPosts = await getCollection("posts", (post) =>
    post.data.category?.match("culture")
  );
} catch (err) {
  alert(err);
}
---

<BaseLayout title="Culture">
  <TopPanel title="Culture" tags={getUniqueTags(blogPosts)} />
  <ul
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
  >
    {
      blogPosts?.map((post) => (
        <li>
          <BlogPost url={`/posts/${post.slug}`} postData={post.data} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
