---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<BaseLayout title="Home">
	<h1>Home</h1>
</BaseLayout>
