---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/section/Section.astro";
---

<BaseLayout title="Home">
  <Section>
    <h1>
      Explore <span class="text-accent-light">Asia101</span> - Unveiling Asian Cultures!
    </h1>
    <p class="lead">
      Discover the rich and captivating tapestry of Asian cultures, cuisines,
      languages, history, and intriguing facts through our immersive platform.
      Asia101 is your ultimate guide to exploring the fascinating wonders of
      this vast continent.
    </p>
    <img
      class="object-cover mx-auto w-full md:max-w-md md:h-auto"
      src="/src/images/bridge.webp"
      alt="bridge"
    />
  </Section>
  <Section>
    <h2>Uncover the Essence of Asia</h2>
    <p class="lead">
      Embark on a journey of discovery as we delve deep into the heart of Asia.
      From the ancient civilizations of China to the serene landscapes of Japan,
      from the vibrant streets of India to the tropical paradise of Thailand,
      Asia101 brings you closer to the essence of each unique culture.
    </p>
  </Section>
  <Section>
    <h2>Taste the Flavors of Asia</h2>
    <p class="lead">
      Prepare your taste buds for an extraordinary culinary adventure through
      Asia's diverse cuisines. Indulge in the mouthwatering flavors of Chinese
      dim sum, savor the aromatic spices of Indian curries, sample the delicate
      artistry of sushi in Japan, and experience the fiery delights of Thai
      street food. Asia101 will take you on a gastronomic journey you won't soon
      forget.
    </p>
  </Section>
  <Section>
    <h2>Unravel Ancient Histories</h2>
    <p class="lead">
      Step back in time and unravel the mysteries of Asia's rich history. From
      the majestic Great Wall of China to the awe-inspiring temples of Angkor
      Wat, from the ancient ruins of Ayutthaya in Thailand to the palaces of the
      Joseon Dynasty in Korea, Asia101 invites you to explore the historical
      landmarks that have shaped the region's past.
    </p>
  </Section>
  <Section>
    <h2>Dive into Linguistic Marvels</h2>
    <p class="lead">
      Unlock the secrets of Asia's diverse languages. From the melodic tones of
      Mandarin to the lyrical beauty of Japanese, from the intricate characters
      of Korean to the rhythmic poetry of Hindi, Asia101 celebrates the
      linguistic marvels that connect millions of people across the continent.
    </p>
  </Section>
  <Section>
    <h2>Fascinating Facts and Insights</h2>
    <p class="lead">
      Delight in the fascinating facts and insights that make Asia truly
      captivating. Discover the ancient art of calligraphy, learn about the
      spiritual significance of Buddhist temples, explore the intricate rituals
      of tea ceremonies, and uncover the unique festivals that fill the Asian
      calendar. Asia101 is your window into the vibrant tapestry of Asian life.
    </p>
    <p class="lead">
      Join us on this extraordinary journey of discovery and immerse yourself in
      the wonders of Asia. Whether you are a passionate traveler, a lover of
      Asian cuisine, a history enthusiast, or simply curious about the world,
      Asia101 will ignite your curiosity and broaden your horizons.
    </p>
    <p class="lead">
      Start exploring Asia with Asia101 today and let the magic of this
      extraordinary continent captivate your senses.
    </p>
  </Section>
</BaseLayout>
