---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Home">
	<Navigation/>
	<Container>
		<h1>Home</h1>
	</Container>
</Layout>
