---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Home">
	<Container max_w={60}>
	    <Navigation/>
		<h1>Home</h1>
	</Container>
</Layout>
