---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import BlogPost from "../components/blogpost/BlogPost.astro";

const blogPosts = await getCollection("posts", (post) =>
  post.id.startsWith("japan_posts")
);
---

<BaseLayout title="Japan">
  <h1>Japan</h1>
  <ul
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 px-5"
  >
    {
      blogPosts.map((post) => (
        <li>
          <BlogPost
            url={`/posts/${post.slug.split("/").pop()}`}
            title={post.data.title}
            date={new Date(post.data.pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
