---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Japan">
	<Navigation/>
    <Container>
		<h1>Japan</h1>
	</Container>
</Layout>