---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="China">
    <Container max_w={60}>
	    <Navigation/>
		<h1>Korea</h1>
	</Container>
</Layout>