---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/blogpost/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<BaseLayout title="Korea">
	<h1>Korea</h1>
	<a href="/tags/astro">Tags</a>
	<ul>

		{allPosts.map((post) => (
			<BlogPost url={post.url} title={post.frontmatter.title}/>
		))}		
	</ul>
</BaseLayout>