---
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../content/posts/*.md')

allPosts.forEach(post => {
	console.log('1', post.file.split('/').pop().replace(/\.md?/,''))
	console.log('2', post.file.substring(post.file.indexOf('/src/'), post.file.lastIndexOf('.md')))
})
---

<BaseLayout title="Korea">
	<h1>Korea</h1>
	<a href="/tags/astro">Tags</a>
	<ul>
		{allPosts.map((post) => (
			<li>
				<time datetime={post.frontmatter.pubDate}>
					{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
					})}
				</time>
				<a href={post.file.split('/').pop().replace(/\.md?/,'')}>{post.frontmatter.title}</a>
			</li>
		))}
	</ul>
</BaseLayout>