---
import ThemeToggle from "../themeToggle/ThemeToggle";
import Icon from "astro-icon";
---

<nav
  class="bg-background dark:bg-gray-900 sticky w-full top-0 left-0 border-b border-gray-200 dark:border-gray-600 ease-in-out duration-500"
  aria-label="navbar"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/">
      <Icon class="text-black dark:text-white w-16 h-16" name="logo" />
    </a>
    <div class="flex md:order-2">
      <ThemeToggle client:load />
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <Icon class="text-gray-500 dark:text-gray-200 w-6 h-6" name="menu" />
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            class="block py-2 px-4 text-gray-500 dark:text-gray-200 hover:-translate-y-1 transition ease-in-out delay-150"
            aria-current="page"
            href="/culture"
          >
            Culture
          </a>
        </li>
        <li>
          <a
            class="block py-2 px-4 text-gray-500 dark:text-gray-200 hover:-translate-y-1 transition ease-in-out delay-150"
            aria-current="page"
            href="/history"
          >
            History
          </a>
        </li>
        <li>
          <a
            class="block py-2 px-4 text-gray-500 dark:text-gray-200 hover:-translate-y-1 transition ease-in-out delay-150"
            aria-current="page"
            href="/languages"
          >
            Languages
          </a>
        </li>
        <li>
          <a
            class="block py-2 px-4 text-gray-500 dark:text-gray-200 hover:-translate-y-1 transition ease-in-out delay-150"
            aria-current="page"
            href="/cooking"
          >
            Cooking
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const navbar = document.querySelector('[aria-label="navbar"]');
  const scrollWatcher = document.createElement("div");

  scrollWatcher.setAttribute("data-scroll-watcher", "");
  navbar?.before(scrollWatcher);

  const navObserver = new IntersectionObserver((entries) => {
    navbar?.classList.toggle("bg-gray-100", !entries[0].isIntersecting);
  });

  navObserver.observe(scrollWatcher);
</script>
