---
import { log } from 'astro/dist/core/logger/core';

export interface Props {
    max_w: number;
}

let {max_w} = Astro.props;
const width: string = max_w.toString().concat('ch')
---

<main>
    <slot/>
</main>

<style define:vars={{width}}>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: var(--width);
	}
</style>
