---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  heroImage: string;
  pubDate: string;
  updateDate: string;
}

const { data } = Astro.props;
---

<BaseLayout title={`Article | ${data.title}`}>
  <article class="p-4">
    {data.heroImage && <img src={data.heroImage} alt="" />}
    <h1 class="title">{data.title}</h1>
    {
      data.pubDate && (
        <time datetime={data.pubDate}>
          {new Date(data.pubDate).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
        </time>
      )
    }
    {
      data.updateDate && (
        <div>
          Last updated on <time>{data.updateDate.substring(0, 10)}</time>
        </div>
      )
    }
    <hr />
    <div class="prose lg:prose-xl">
      <slot />
    </div>
  </article>
</BaseLayout>
